{% extends "main.html" %}

{% block content %}
<h2>Додати нову категорію</h2>
<form method="post" id="create-categorie-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Зберегти</button>
</form>

<script>
    document.getElementById('create-categorie-form').addEventListener('submit', function(event) {
        event.preventDefault();  // Запобігаємо стандартному відправленню форми
        
        const formData = new FormData(this);

        axios.post('{% url "category-create" %}', formData, {
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
        })
            .then(function (response) {
                if (response.data.success) {
                    // Якщо рецепт створено успішно, перенаправляємо на головну сторінку
                    window.location.href = '{% url "category-list" %}';
                } else {
                    // Виводимо помилки, якщо є
                    alert('Сталася помилка при створенні рецепта!');
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
                alert('Щось пішло не так. Спробуйте ще раз.');
            });
    });
</script>
{% endblock %}
