{% extends "main.html" %}

{% block content %}
<h1 class="text-center">{{ page_title }}</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Опис</th>
            <th>Власник</th>
            <th>Дата створення</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ recipe.title }}</td>
            <td>{{ recipe.description}}</td>
            <td>{{ recipe.owner }}</td>
            <td>{{ recipe.created_at|date:"d.m.Y H:i" }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
